@font-face {
	font-family: 'Berthold';
	src: url('bagber.eot');
	src: local('?'), url('bagber.woff') format('woff'), url('bagber.ttf') format('truetype'), url('bagber.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova';
	src: url('pnreg.eot');
	src: local('?'), url('pnreg.woff') format('woff'), url('pnreg.ttf') format('truetype'), url('pnreg.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova Semibold';
	src: url('pnsbold.eot');
	src: local('?'), url('pnsbold.woff') format('woff'), url('pnsbold.ttf') format('truetype'), url('pnsbold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
a {
	font-family: "Proxima Nova Semibold", Arial, sans-serif;
    -webkit-transition: opacity 300ms, -moz-opacity 300ms;
    transition: opacity 300ms, -moz-opacity 300ms;
}
a:hover {
	text-decoration: underline;
	-moz-opacity: 0.8;
	opacity: 0.8;
}
body {
	font-family: "Proxima Nova", Arial, sans-serif;
	color: #000;
}
p {
	font-size: 13px;
	line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Berthold, Arial, sans-serif;
}
h1 {
	font-size: 24px;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 17px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 14px;
}
button, .button {
	padding: 6px;
	color: #fff;
	background-color: #575756;
	font-size: 12px;
	font-family: "Proxima Nova Semibold", Arial, sans-serif;
	border-width: 0px;
	border-style: none;
	border-color: #575756;
	font-weight: normal;
}
button:hover, .button:hover {
	background-color: #000;
}
ul.button-group {
	margin-bottom: 8px;
}
ul.button-group li a {
	display: block;
	padding: 4px 8px;
	color: #fff;
	background-color: #3D3D3A;
	font-family: "Berthold", Arial, sans-serif;
	font-weight: normal;
	font-size: 12px;
	text-transform: uppercase;
}
ul.button-group li a:hover {
	text-decoration: none;
}
header {
	background-color: #EDEDED;
}
img.logo {
	margin-top: 35px;
	margin-bottom: 35px;
}
header section.row nav {
	color: #000;
}
header section {
	padding: 0 15px;
}

/* Main nav menu */

#main-menu-links li a {
	color: #000;
}
#menubar nav {
	max-width: 62.5em;
	margin: 0 auto 15px auto;
	padding: 0 15px;
}
#menubar .contain-to-grid {
	background-color: #C6C6C6;
}
#menubar .top-bar {
	height: 30px;
	line-height: 30px;
}
#menubar, .top-bar, .top-bar-section ul,
.top-bar-section li, .top-bar-section li a,
.top-bar-section li a:not(.button) {
	background-color: #C6C6C6;
}
.top-bar-section li a:not(.button) {
	line-height: 30px;
}
.top-bar-section .has-dropdown > a:after {
	top: 15px;
}
#menubar nav li {
	margin: 0;
}
#menubar nav li a {
	font-family: Berthold, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	color: #000;
	padding-left: 40px;
	padding-right: 40px;
}
#menubar nav li li {
	
}
#menubar nav li li a {
}
#menubar nav li a:hover, #menubar nav li a.active {
	background-color: #fff;
}
ul#main-menu-links {
	margin-left: 0;
}

/* Breadcrumbs */

.breadcrumbs {
	margin: 0 15px 20px 15px;
	padding: 4px 0;
	background-color: #fff;
	border-left: 0px none;
	border-right: 0px none;
	border-top: 1px solid #F1F1F1;
	border-bottom: 1px solid #F1F1F1;
	font-size: 10px;
	font-family: Berthold, Arial, sans-serif;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
.breadcrumbs > * {
	font-size: 10px;
	color: #000;
}
.breadcrumbs > * a, .breadcrumbs > * span {
	color: #000;
}

/* Right sidebar and misc. blocks */

aside.sidebar-second {
	margin-top: 50px;
}
aside.sidebar-second section {
	padding: 15px;
	background-color: #DADADA;
	font-family: "Proxima Nova Semibold", Arial, sans-serif;
}
aside.sidebar-second section.block-mailchimp-lists form {
	margin-bottom: 0px;
}
aside.sidebar-second section.block-mailchimp-lists form #edit-submit {
	margin-bottom: 0;
	float: right;
}
#edit-mailchimp-lists-mailchimp-email-newsletter-signup-title {
	font-size: 15px;
	margin-top: 0;
}
.field-name-field-intro {
	margin: 20px 0;
}
.field-name-field-intro, .field-name-field-intro p {
	font-size: 16px;
	font-family: "Proxima Nova Semibold", Arial, sans-serif;
}

/* Footer and footer menu */

footer.row {
	max-width: 100%;
	color: #fff;
	font-size: 12px;
	background-color: #706F6F;
	margin-bottom: 0px;
	padding: 0;
}
footer.row a {
	color: #fff;
}
footer.row .copyright {
	max-width: 960px;
	margin: 0 auto;
	float: none !important;
	padding: 12px 0;
	clear: both;
}
footer.row .copyright .right {
	float: right;
	text-align: right;
	width: 200px;
}
footer.row .footer {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	float: none !important;
	padding: 0;
	background-color: #EDEDED;
	color: #000;
	overflow: hidden;
}
footer.row .footer .block-menu-menu-footer-menu {
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
.block-menu-menu-footer-menu > ul.menu {
	margin: 20px 0 30px 0;
	padding: 0;
	float: left;
	width: 100%;
}
.block-menu-menu-footer-menu > ul.menu > li {
	list-style-type: none;
	float: left;
	margin-right: 40px;
	font-family: "Proxima Nova Semibold", Arial, sans-serif;
	font-size: 14px;
}
.block-menu-menu-footer-menu > ul.menu > li.expanded a {
	padding-bottom: 15px;
}
.block-menu-menu-footer-menu > ul.menu > li > a {
	color: #000;
	text-transform: uppercase;
}
.block-menu-menu-footer-menu > ul.menu ul {
	margin-left: 0;
}
.block-menu-menu-footer-menu > ul.menu li li a {
	font-family: "Proxima Nova", Arial, sans-serif;
	color: #000;
}
.block-menu-menu-footer-menu > ul.menu li li {
	font-size: 12px;
	list-style-type: none;
}
header {
	position: relative;
}

/* Header user menu */

.siteheader {
	float: right;
	text-align: right;
}
header .block-system-user-menu {
	width: 280px;
	max-width: 280px;
	float: right;
	margin-top: 30px;
	padding: 0;
}
.block-system-user-menu ul.menu {
	height: 24px;
	float: right;
}
.block-system-user-menu ul.menu li {
	float: right;
	width: auto;
	margin-left: 8px;
	list-style-type: none;
	color: #000;
	font-size: 12px;
	font-family: "Proxima Nova Semibold", Arial, sans-serif;
	height: 24px;
	line-height: 24px;
}
.block-system-user-menu ul.menu li a {
	display: block;
	color: #000;
	height: 24px;
	line-height: 24px;
}
.block-system-user-menu ul.menu li.facebook a {
	font-size: 0px;
	color: transparent;
	text-indent: -9999px;
	overflow: hidden;
	width: 24px;
	height: 24px;
	background: transparent url('../images/facebook.png') no-repeat 0px 0px;
}
.block-system-user-menu ul.menu li.twitter a {
	font-size: 0px;
	color: transparent;
	text-indent: -9999px;
	overflow: hidden;
	width: 24px;
	height: 24px;
	background: transparent url('../images/twitter.png') no-repeat 0px 0px;
}
.block-system-user-menu ul.menu li.join-us a {
	background-color: #383836;
	color: #fff;
	text-transform: uppercase;
	padding: 0px 8px;
}

/* Exposed Filters */

.sidebar .views-exposed-form .views-exposed-widget > label {
	text-transform: uppercase;
	font-family: "Proxima Nova Semibold", Arial, sans-serif;
	margin-bottom: 8px;
	font-weight: normal;
	font-size: 14px;
}
.form-type-bef-link {
	display: inline-block;
	float: right;
	text-transform: uppercase;
	background: #9D9D9C;
	padding: 4px 5px;
	color: #000;
	font-size: 12px;
	margin-right: 5px;
}
.form-type-bef-link.selected, .form-type-bef-link:hover {
	background: #C6C6C6;
}
.form-type-bef-link > a {
	color: #000;
}
.form-type-bef-link.selected-edit-field-studio-type-tid-all, 
.form-type-bef-link.form-item-edit-field-studio-type-tid-all {
	background: #E6E8E6;
	margin-right: 0px;
}
.sidebar #edit-keys-wrapper {
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
}
.sidebar #views-exposed-form-studios-page #edit-keys-wrapper {
	margin-top: 20px;
}
.sidebar .views-exposed-form .views-exposed-widget .form-submit {
	margin-top: 0px;
}
.sidebar .views-exposed-form .views-exposed-widget {
	padding-left: 0px;
	padding-right: 0px;
}

/* List Views */

.views-row {
	float: left;
	clear: left;
	width: 100%;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #EDEDED;
}

.view-studios .views-row .views-field-field-image,
.view-artists .views-row .views-field-picture {
	float: left;
	width: auto;
}
.view-studios .views-row .views-field-title,
.view-artists .views-row .views-field-name {
	margin-left: 170px;
	width: 100%;
	max-width: 300px;
	font-family: "Proxima Nova Semibold", Arial, sans-serif;
	font-weight: normal;
	color: #000;
	margin-bottom: 5px;
	font-size: 20px;
}
.view-studios .views-row .views-field-title a,
.view-artists .views-row .views-field-name a {
	color: #000;
}
.view-studios .views-row .views-field-body,
.view-artists .views-row .views-field-field-about-the-artist {
	margin-left: 170px;
	width: 100%;
	max-width: 300px;
	font-size: 13px;
	line-height: 1.5;
}
.view-artists .views-row .views-field-field-about-the-artist {
	max-width: 365px;
}
.view-studios .views-row .views-field-body p,
.view-artists .views-row .views-field-field-about-the-artist p {
	margin-bottom: 4px;
}
.view-studios .views-row .views-field-address,
.view-artists .views-row .views-field-og-user-node {
	margin-left: 170px;
	width: 100%;
	max-width: 300px;
}
.vcard,
.view-artists .views-row .views-field-og-user-node .views-label,
.view-artists .views-row .views-field-og-user-node .field-content {
	display: inline;
	border: 0px none;
	padding: 0px 0px 0px 0px;
	font-size: 12px;
	line-height: 1.2;
	font-family: "Proxima Nova Semibold", Arial, sans-serif;
	margin-bottom: 0;
}
.view-artists .views-row .views-field-og-user-node .views-label {
	font-family: "Proxima Nova", Arial, sans-serif;
}
.view-artists .views-row .views-field-og-user-node .field-content a {
	color: #000;
}
.vcard div {
	display: inline;
}
.vcard .fn {
	font-weight: normal;
}
/*
.vcard .adr > div:after, .vcard .adr > span:after {
	content: ", ";
}
.vcard .adr > div:last-child:after, .vcard .adr > span:last-child:after {
	content: "";
}
*/
.view-studios .views-field-php {
	float: right;
	width: 65px;
}
.view-studios .views-field-view-node,
.view-artists .views-field-view-user {
	float: right;
	width: 80px;
	color: #fff;
	text-transform: uppercase;
	font-family: "Proxima Nova Semibold", Arial, sans-serif;
	margin-left: 60px;
	font-size: 12px;
	margin-top: 36px;
}

.view-studios .views-field-view-node a,
.view-artists .views-field-view-user a {
	color: #fff;
	padding: 5px 40px 5px 5px;
	display: block;
	background: #3D3D3A url('../images/caret.png') no-repeat 60px 50%;
}
.view-studios .views-field-view-node a:hover,
.view-artists .views-field-view-user a:hover {
	text-decoration: none;
}
.view-studios .views-field-php .views-label {
	color: #CCC;
	text-transform: uppercase;
	font-family: "Proxima Nova Semibold", Arial, sans-serif;	
	font-weight: normal;
	font-size: 10px;
	text-align: center;
}
.view-studios .views-field-php .field-content {
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	border-width: 0;
	font-size: 24px;
	font-family: "Berthold", Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	padding: 13px 0;
	background-color: #DADADA;
	margin-top: 12px;
}
.page-studios h1#page-title, .page-artists h1#page-title {
	display: none;
}