@font-face {
	font-family: 'Berthold';
	src: url('bagber.eot');
	src: local('?'), url('bagber.woff') format('woff'), url('bagber.ttf') format('truetype'), url('bagber.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Berthold Med';
	src: url('bagbem.eot');
	src: local('?'), url('bagbem.woff') format('woff'), url('bagbem.ttf') format('truetype'), url('bagbem.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova';
	src: url('pnreg.eot');
	src: local('?'), url('pnreg.woff') format('woff'), url('pnreg.ttf') format('truetype'), url('pnreg.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova Semibold';
	src: url('pnsbold.eot');
	src: local('?'), url('pnsbold.woff') format('woff'), url('pnsbold.ttf') format('truetype'), url('pnsbold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}/* CSS Document */

a {
	font-family: "Berthold Med", Arial, sans-serif;
    -webkit-transition: opacity 300ms, -moz-opacity 300ms;
    transition: opacity 300ms, -moz-opacity 300ms;
}
a:hover {
	text-decoration: underline;
	-moz-opacity: 0.8;
	opacity: 0.8;
}
body {
	font-family: 'Berthold', Arial, sans-serif;
	color: #1D1D1B;
}
p {
	font-size: 13px;
	line-height: 1.5;
	color: #666;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Berthold Med", Arial, sans-serif;
	line-height:1.2em;
	font-weight:400;
}
h1 {
	font-size: 32px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 15px;
}
button, .button {
	padding: 6px;
	color: #fff;
	background-color: #575756;
	font-size: 12px;
	font-family: "Berthold", Arial, sans-serif;
	border-width: 0px;
	border-style: none;
	border-color: #575756;
	font-weight: normal;
}
button:hover, .button:hover {
	background-color: #1D1D1B;
}
ul.button-group {
	margin-bottom: 8px;
}
ul.button-group li a {
	display: block;
	padding: 4px 8px;
	color: #fff;
	background-color: #3D3D3A;
	font-family: "Berthold", Arial, sans-serif;
	font-weight: normal;
	font-size: 12px;
	text-transform: uppercase;
}
ul.button-group li a:hover {
	text-decoration: none;
}
header {
	background-color: #EDEDED;
	background-image:url(../images/top_banner.jpg);
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
}
img.logo {
	margin-top: 35px;
	margin-bottom: 35px;
	margin-left:0.938em;
	width:102px;
	height:102px;
}
/*
header section.row {
	padding: 0 15px;
}
*/
header section.row nav {
	color: #1D1D1B;
}
header section#menubar {
	padding: 0 15px;
}

/* Main nav menu */

#main-menu-links li a {
	color: #1D1D1B;
}
#menubar nav {
	max-width: 60.625em;
	margin: 0 auto 15px auto;
	padding: 0px 0px;
}
#menubar .contain-to-grid {
	background-color: #1D1D1B;
}
#menubar .top-bar {
	height: 33px;
	line-height: 30px;
}
#menubar, .top-bar, .top-bar-section ul,
.top-bar-section li, .top-bar-section li a,
.top-bar-section li a:not(.button) {
	background-color: #1D1D1B;
}
.top-bar-section li a:not(.button) {
	line-height: 33px;
}
.top-bar-section .has-dropdown > a:after {
	top: 15px;
	display:none;
}
#menubar nav li {
	margin: 0;
}
ul#main-menu {
	width: 100%;
}
ul#main-menu > li {
	width: 14.28%;
	border-left: solid 1px #706f6f;
}

ul#main-menu > li.last{
	border-right: solid 1px #706f6f;
}
#menubar nav li a {
	font-family: Berthold, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 12px;
	color: #FFFFFF;
	display: block;
	text-align: center;
}
#menubar nav li li {
	
}
#menubar nav li li a {
}
#menubar nav li a:hover, #menubar nav li a.active {
	background-color: #fff;
	color: #1D1D1B;
}
ul#main-menu-links {
	margin-left: 0;
}

/* Breadcrumbs */

.breadcrumbs {
	/*margin: 0 15px 20px 15px;*/
	padding: 4px 0;
	background-color: #fff;
	border-left: 0px none;
	border-right: 0px none;
	border-top: 1px solid #F1F1F1;
	border-bottom: 1px solid #F1F1F1;
	font-size: 10px;
	font-family: Berthold, Arial, sans-serif;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	float: left;
	clear: left;
	width: 100%;
}
.breadcrumbs > * {
	font-size: 9px;
	color: #1D1D1B;
	font-family: "Berthold", Arial, sans-serif;
}
.breadcrumbs > * a, .breadcrumbs > * span {
	color: #1D1D1B;
	font-family: "Berthold", Arial, sans-serif;
}

/* Right sidebar and misc. blocks */

aside.sidebar-second {
	margin-top: 60px;
}
aside.sidebar-second section {
	padding: 22px;
	background-color: #F0F6FE;
	font-family: "Berthold", Arial, sans-serif;
	margin-bottom: 20px;
}
aside.sidebar-second section.block-mailchimp-lists form {
	margin-bottom: 0px;
}
aside.sidebar-second section.block-mailchimp-lists form #edit-submit {
	margin-bottom: 0;
	float: right;
}
#edit-mailchimp-lists-mailchimp-email-newsletter-signup-title {
	font-size: 15px;
	margin-top: 0;
}
.field-name-field-intro {
	margin: 20px 0;
}
.field-name-field-intro, .field-name-field-intro p {
	font-size: 16px;
	font-family: "Berthold", Arial, sans-serif;
}

/* Footer and footer menu */

footer.row {
	max-width: 100%;
	color: #fff;
	font-size: 12px;
	background-color: #706F6F;
	margin-bottom: 0px;
	padding: 0;
}
footer.row a {
	color: #fff;
}
footer.row .copyright {
	max-width: 960px;
	margin: 0 auto;
	float: none !important;
	padding: 12px 0;
	clear: both;
}
footer.row .copyright .right {
	float: right;
	text-align: right;
	width: 200px;
}
footer.row .footer {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	float: none !important;
	padding: 0;
	background-color: #EDEDED;
	color: #1D1D1B;
	overflow: hidden;
}
footer.row .footer .block-menu-menu-footer-menu {
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
.block-menu-menu-footer-menu > ul.menu {
	margin: 20px 0 30px 0;
	padding: 0;
	float: left;
	width: 100%;
}
.block-menu-menu-footer-menu > ul.menu > li {
	list-style-type: none;
	float: left;
	margin-right: 40px;
	font-family: "Berthold", Arial, sans-serif;
	font-size: 14px;
}
.block-menu-menu-footer-menu > ul.menu > li.expanded a {
	padding-bottom: 15px;
}
.block-menu-menu-footer-menu > ul.menu > li > a {
	color: #1D1D1B;
	text-transform: uppercase;
}
.block-menu-menu-footer-menu > ul.menu ul {
	margin-left: 0;
}
.block-menu-menu-footer-menu > ul.menu li li a {
	font-family: "Berthold", Arial, sans-serif;
	color: #1D1D1B;
}
.block-menu-menu-footer-menu > ul.menu li li {
	font-size: 12px;
	list-style-type: none;
}
header {
	position: relative;
}

/* Header user menu */

.siteheader {
	float: right;
	text-align: right;
}
header .block-system-user-menu {
	width: 280px;
	max-width: 280px;
	float: right;
	margin-top: 35px;
	padding: 0;
}
.block-system-user-menu ul.menu {
	height: 24px;
	float: right;
}
.block-system-user-menu ul.menu li {
	float: right;
	width: auto;
	margin-left: 8px;
	list-style-type: none;
	color: #1D1D1B;
	font-size: 12px;
	font-family: "Berthold", Arial, sans-serif;
	height: 24px;
	line-height: 24px;
}
.block-system-user-menu ul.menu li a {
	display: block;
	color: #1D1D1B;
	height: 24px;
	line-height: 26px;
}
.block-system-user-menu ul.menu li.facebook a {
	font-size: 0px;
	color: transparent;
	text-indent: -9999px;
	overflow: hidden;
	width: 24px;
	height: 24px;
	background: transparent url('../images/facebook.png') no-repeat 0px 0px;
	background-size:cover;
}
.block-system-user-menu ul.menu li.twitter a {
	font-size: 0px;
	color: transparent;
	text-indent: -9999px;
	overflow: hidden;
	width: 24px;
	height: 24px;
	background: transparent url('../images/twitter.png') no-repeat 0px 0px;
	background-size:cover;
}
.block-system-user-menu ul.menu li.join-us a {
	background-color: #7CE953;
	color: #1D1D1B;
	text-transform: uppercase;
	padding: 0px 10px;
}

/* Exposed Filters */

.sidebar .views-exposed-form .views-exposed-widget > label {
	text-transform: uppercase;
	font-family: "Berthold", Arial, sans-serif;
	margin-bottom: 8px;
	font-weight: normal;
	font-size: 14px;
	color: #706f6f;
}
.form-type-bef-link {
	display: inline-block;
	float: right;
	text-transform: uppercase;
	background: #dadada;
	padding: 0px 9px;
	color: #1D1D1B;
	font-size: 12px;
	margin-right: 5px;
	color:#1d1d1b;
}
.form-type-bef-link.selected {
	background: #1d1d1b;
	color:#FFF;
}

.form-type-bef-link.selected a {
	color: #FFF;
}

.form-type-bef-link > a {
	color: #1d1d1b;
	font-size:11px;
	line-height:25px;
}
.form-type-bef-link.selected-edit-field-studio-type-tid-all, 
.form-type-bef-link.form-item-edit-field-studio-type-tid-all {
	background: #E6E8E6;
	margin-right: 0px;
}
.sidebar #edit-keys-wrapper {
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin-top:30px;
}
.sidebar #edit-field-event-type-tid-wrapper {
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
}
.sidebar #views-exposed-form-studios-page #edit-keys-wrapper {
	margin-top: 20px;
}
.sidebar .views-exposed-form .views-exposed-widget .form-submit {
	margin-top: 0px;
}
.sidebar .views-exposed-form .views-exposed-widget {
	padding-left: 0px;
	padding-right: 0px;
	padding-top:0px;
}


/* List Views */

.views-row {
	float: left;
	clear: left;
	width: 100%;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #EDEDED;
}

.views-row:first-child {
	margin-top:3px;
}

.view-studios .views-row .views-field-field-image,
.view-artists .views-row .views-field-picture {
	float: left;
	width: auto;
}
.view-studios .views-row .views-field-title,
.view-artists .views-row .views-field-name {
	margin-left: 170px;
	width: 100%;
	max-width: 300px;
	font-family: "Berthold", Arial, sans-serif;
	font-weight: normal;
	color: #1D1D1B;
	margin-bottom: 5px;
	font-size: 20px;
}
.view-studios .views-row .views-field-title a,
.view-artists .views-row .views-field-name a {
	color: #1D1D1B;
}
.view-studios .views-row .views-field-body,
.view-artists .views-row .views-field-field-about-the-artist {
	margin-left: 170px;
	width: 100%;
	max-width: 300px;
	font-size: 13px;
	line-height: 1.5;
}
.view-artists .views-row .views-field-field-about-the-artist {
	max-width: 365px;
}
.view-studios .views-row .views-field-body p,
.view-artists .views-row .views-field-field-about-the-artist p {
	margin-bottom: 4px;
}
.view-studios .views-row .views-field-address,
.view-artists .views-row .views-field-og-user-node {
	margin-left: 170px;
	width: 100%;
	max-width: 300px;
}
.vcard,
.view-artists .views-row .views-field-og-user-node .views-label,
.view-artists .views-row .views-field-og-user-node .field-content {
	display: inline;
	border: 0px none;
	padding: 0px 0px 0px 0px;
	font-size: 12px;
	line-height: 1.2;
	font-family: "Berthold", Arial, sans-serif;
	margin-bottom: 0;
}
.view-artists .views-row .views-field-og-user-node .views-label {
	font-family: "Berthold", Arial, sans-serif;
}
.view-artists .views-row .views-field-og-user-node .field-content a {
	color: #1D1D1B;
}
.vcard div {
	display: inline;
	font-size:11px;
}
.vcard .fn {
	font-weight: normal;
}
/*
.vcard .adr > div:after, .vcard .adr > span:after {
	content: ", ";
}
.vcard .adr > div:last-child:after, .vcard .adr > span:last-child:after {
	content: "";
}
*/
.view-studios .views-field-php {
	float: right;
	width: 65px;
}
.view-studios .views-field-view-node,
.view-artists .views-field-view-user {
	float: right;
	width: 80px;
	color: #fff;
	text-transform: uppercase;
	font-family: "Berthold", Arial, sans-serif;
	margin-left: 60px;
	font-size: 12px;
	margin-top: 36px;
}

.view-studios .views-field-view-node a,
.view-artists .views-field-view-user a {
	color: #fff;
	padding: 5px 40px 5px 5px;
	display: block;
	background: #3D3D3A url('../images/caret.png') no-repeat 60px 50%;
}
.view-studios .views-field-view-node a:hover,
.view-artists .views-field-view-user a:hover {
	text-decoration: none;
}
.view-studios .views-field-php .views-label {
	color: #CCC;
	text-transform: uppercase;
	font-family: "Berthold", Arial, sans-serif;	
	font-weight: normal;
	font-size: 10px;
	text-align: center;
}
.view-studios .views-field-php .field-content {
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	border-width: 0;
	font-size: 24px;
	font-family: "Berthold", Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	padding: 13px 0;
	background-color: #EDEDED;
	margin-top: 12px;
}
.page-studios h1#page-title, .page-artists h1#page-title {
	display: none;
}

/* Studio Detail Page */

.node-studio .body {
	font-family: "Berthold", Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
	margin-bottom: 14px;
	color: #1D1D1B;
}
.node-studio .body p {
	font-size: 16px;
	color: #1D1D1B;
}
.node-studio .image {
	margin-bottom: 30px;
}
.node-studio .field-name-field-opening-times {
	color: #666;
	margin-bottom: 30px;
	font-size: 13px;
	line-height: 1.5;
}
.node-studio .field .field-label {
	font-weight: normal;
	font-family: "Berthold", Arial, sans-serif;
	font-size: 13px;
	margin-bottom: 5px;
	color: #1D1D1B;
}
.node-studio .field-name-field-availibility {
	color: #666;
	margin-bottom: 30px;
	font-size: 13px;
	line-height: 1.5;
}
.views-field-field-studio-type {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #BABABA;
}
.views-field-field-studio-type a {
	text-transform: uppercase;
	background: #9D9D9C;
	padding: 4px 5px;
	color: #1D1D1B;
	font-size: 12px;
}
.views-field-field-studio-type a:hover {
	background: #C6C6C6;
}
.view-studio-contact-details .views-field-name {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #8AB8FA;
}
.view-studio-contact-details .views-field-name a {
	color: #1D1D1B;
	font-size: 12px;
}
.view-studio-contact-details .views-label {
	text-transform: uppercase;
	font-family: "Berthold Med", Arial, sans-serif;
	margin-bottom: 8px;
	font-weight: normal;
	font-size: 11px;
	display: block;
}
.view-studio-contact-details .views-field-name span {
	display: block;
}
.view-studio-contact-details .vcard {
	font-family: "Berthold", Arial, sans-serif;
}
.view-studio-contact-details .vcard .adr .street-address,
.view-studio-contact-details .vcard .adr .postal-code,
.view-studio-contact-details .vcard .map-link {
	display: block;
}
.view-studio-contact-details .views-field-address,
.view-studio-contact-details .views-field-field-telephone
 {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #8AB8FA;
}
.view-studio-contact-details .views-row {
	margin-bottom: 0;
	border-bottom: 0;
	padding-bottom: 0;
}

.view-studio-contact-details .views-row a{
	font-size: 11px;
	color: #1D1D1B;
}


.view-studio-contact-details .views-field-field-website {
	margin-bottom: 5px;
}
.view-studio-contact-details .views-field-field-website,
.view-studio-contact-details .views-field-field-telephone {
	font-size: 11px;
	color: #1D1D1B;
	font-family: "Berthold Med", Arial, sans-serif;
}
.views-field-field-website a {
	font-size: 12px;
	color: #1D1D1B;
}
.views-field-field-email a, .views-field-mail a {
	font-size: 0px;
	background: transparent url('../images/email.png') no-repeat 50% 50%;
	width: 25px;
	height: 24px;
	display: block;
	float: left;
	text-indent: -9999px;
	background-size:cover;
}
.views-field-field-facebook-page a {
	font-size: 0px;
	color: transparent;
	text-indent: -9999px;
	overflow: hidden;
	width: 25px;
	height: 24px;
	display: block;
	float: left;
	margin-right: 6px;
	background: transparent url('../images/facebook.png') no-repeat 0px 0px;
	background-size:cover;
}
.views-field-field-twitter-handle a {
	font-size: 0px;
	color: transparent;
	text-indent: -9999px;
	overflow: hidden;
	width: 25px;
	height: 24px;
	margin-right: 6px;
	display: block;
	float: left;
	background: transparent url('../images/twitter.png') no-repeat 0px 0px;
	background-size:cover;
}
.view-studio-contact-details.view-display-id-block_1 {
	float: left;
}
.view-studio-contact-details.view-display-id-block_1 .views-field-title {
	font-size: 12px;
	width: 50%;
	margin-right: 5%;
	float: left;
	font-family: "Berthold", Arial, sans-serif;
}
.view-studio-contact-details.view-display-id-block_1 .views-field-group-group {
	width: 45%;
	float: left;
	font-size: 12px;
}
.view-studio-contact-details.view-display-id-block_1 .views-field-group-group a {
	color: #fff;
	padding: 5px 30px 5px 5px;
	display: block;
	background: #3D3D3A url('../images/caret.png') no-repeat 60px 50%;
	text-transform: uppercase;
}
.view-studio-contact-details.view-display-id-block_1 .views-field-group-group a:hover
{
	text-decoration: none;
}
aside.sidebar-second h2.block-title {
	font-size: 17px;
	text-indent: 10px;
}
main h2.block-title {
	font-size: 15px;
	text-indent: 0px;
}
.view-events-at-a-studio .views-row {
	background-color: #fff;
	padding: 15px 10px;
	margin-bottom: 15px;
}
.view-events-at-a-studio .views-row-last {
	margin-bottom: 0;
}
.view-events-at-a-studio .views-field-field-date {
	font-size: 13px;
}
.view-events-at-a-studio .views-field-title {
	color: #666;
	font-size: 13px;
}
.view-events-at-a-studio .views-field-title a {
	color: #666;
}
.view-events-at-a-studio .views-field-body {
	margin-top: 8px;
	color: #666;
	line-height: 1.3;
	font-size: 12px;
	font-family: "Berthold", Arial, sans-serif;
}
.view-events-at-a-studio .views-field-body p {
	line-height: 1.3;
	font-size: 12px;
}
.view-featured-artist {

}
.view-featured-artist .views-row {
	position: relative;
	float: left;
	clear: left;
	padding-bottom: 0px;
	border-bottom: 0;
	margin-top: 5px;
}
.view-featured-artist .views-field-name {
	position: absolute;
	z-index: 10;
	padding: 10px 12px;
	bottom: 15px;
	left: 15px;
	background-color: #fff;
	color: #1D1D1B;
	font-family: "Berthold", Arial, sans-serif;
	font-size: 15px;
}
.view-featured-artist .views-field-name a {
	color: #1D1D1B;
}
.view-featured-artist .views-field-picture {
	float: left;
	width: 475px;
	height: 320px;
	max-width: 100%;
}
.view-featured-artist .views-field-field-about-the-artist {
	width: 245px;
	height: 320px;
	float: left;
	padding: 20px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #EDEDED;
}
.view-featured-artist .views-field-field-about-the-artist .views-label {
	margin: 0 0 8px 0;
	font-family: "Berthold", Arial, sans-serif;
	text-transform: uppercase;
	color: #1D1D1B;
	font-size: 14px;
}
.view-featured-artist .views-field-field-about-the-artist {
	color: #666;
	line-height: 1.5;
	font-size: 13px;
	font-family: "Berthold", Arial, sans-serif;
}
.view-studio-members {
	float: left;
	width: 100%;
	clear: left;
}
.view-studio-members .views-row {
	position: relative;
	float: left;
	padding-bottom: 0px;
	border-bottom: 0;
	margin-top: 5px;
	width: 230px;
	height: 155px;
	margin-bottom: 15px;
	margin-right: 15px;
	clear: none;
}
.view-studio-members .views-row.three {
	margin-right: 0px;
}

.view-studio-members .views-field-name {
	position: absolute;
	z-index: 10;
	padding: 10px 12px;
	bottom: 15px;
	left: 15px;
	background-color: #fff;
	color: #1D1D1B;
	font-family: "Berthold", Arial, sans-serif;
	font-size: 15px;
}
.view-studio-members .views-field-name a {
	color: #1D1D1B;
}
.view-studio-members .views-field-picture {
	max-width: 100%;
}
.block-views-featured-studios-block h2.block-title {
	color: #fff;
	background-color: #9D9D9C;
	text-transform: uppercase;
	font-size: 12px;
	margin: 30px 0 15px 0;
	float: left;
	clear: left;
	width: 100%;
	text-indent: 0px;
	padding: 4px 10px;
}
.view-featured-studios {
	float: left;
	width: 100%;
	clear: left;
}
.view-featured-studios .views-row {
	position: relative;
	float: left;
	padding-bottom: 0px;
	border-bottom: 0;
	margin-top: 5px;
	width: 230px;
	height: 370px;
	margin-bottom: 15px;
	margin-right: 15px;
	clear: none;
}
.view-featured-studios .views-row.three {
	margin-right: 0px;
}
.view-featured-studios .views-field-title {
	color: #1D1D1B;
	font-size: 20px;
	margin: 15px 0 10px 0;
	font-family: "Berthold", Arial, sans-serif;
}
.view-featured-studios .views-field-title a {
	color: #1D1D1B;
}
.view-featured-studios .views-field-body {
	font-size: 12px;
	line-height: 1.5;
	margin-bottom: 15px;
}
.view-featured-studios .views-field-group-group {
	color: #1D1D1B;
	font-family: "Berthold", Arial, sans-serif;
	font-size: 12px;
	width: 85px;
}
.view-featured-studios .views-field-group-group a {
	color: #fff;
	padding: 5px 30px 5px 5px;
	display: block;
	background: #3D3D3A url('../images/caret.png') no-repeat 60px 50%;
	text-transform: uppercase;
}
.view-featured-studios .views-field-group-group a:hover
{
	text-decoration: none;
}
/* Artist Detail Page */
.profile .user-picture {
	float: none;
	margin-bottom: 30px;
}
.profile .field-name-field-about-the-artist {
	font-family: "Berthold", Arial, sans-serif;
	font-weight: normal;
	font-size: 18px;
	margin-bottom: 14px;
	color: #282828;
	line-height: 1.4;
}
.profile .field-name-field-about-the-artist p {
	font-size: 16px;
	color: #1D1D1B;
	line-height: 1.5;
}
.profile .field-name-field-more-about-me {
	color: #706f6f;
	margin-bottom: 30px;
	font-size: 13px;
	line-height: 1.5;
}
aside.sidebar-second section.block-views-user-contact-details-block {
	background-color: #E8FBE0;
}
.view-user-contact-details .views-field-field-photo {
	margin-bottom: 15px;
}
.view-user-contact-details .views-field-field-disciplines ul {
	margin-left: 0px;
}
.view-user-contact-details .views-field-field-disciplines ul li {
	display: inline;
	list-style-type: none;
	font-family: "Berthold", Arial, sans-serif;
	text-transform: uppercase;
	padding: 2px 4px;
	color: #fff;
	background-color: #7F7F7F;
	font-size: 11px;
	margin: 0 4px 0 0;
}
.view-user-contact-details .views-field-name {
	margin-bottom: 6px;
}
.view-user-contact-details .views-field-name a {
	color: #1D1D1B;
	font-size: 12px;
}
.view-user-contact-details .views-label {
	text-transform: uppercase;
	font-family: "Berthold Med", Arial, sans-serif;
	margin-bottom: 15px;
	font-weight: normal;
	font-size: 11px;
	display: block;
}
.view-user-contact-details .views-row {
	margin-bottom: 0;
	border-bottom: 0;
	padding-bottom: 0;
}
.view-user-contact-details .views-field-field-website,
.view-user-contact-details .views-field-field-about-the-artist {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #7ce953;
}
.view-user-contact-details .views-field-field-about-the-artist,
.view-user-contact-details .views-field-field-about-the-artist p {
	font-size: 12px;
	color: #666;
	line-height: 1.2;
}
.view-user-contact-details .views-field-field-website {
	font-size: 12px;
	color: #1D1D1B;
}
.views-field-field-website a {
	font-size: 12px;
	color: #1D1D1B;
}
.view-artist-more-pictures {
	float: left;
	width: 100%;
	clear: left;
	margin-bottom: 30px;
	margin-top:20px;
}
.view-artist-more-pictures .views-row {
	position: relative;
	float: left;
	padding-bottom: 0px;
	border-bottom: 0;
	margin-top: 5px;
	width: 230px;
	height: 155px;
	margin-bottom: 10px;
	margin-right: 15px;
	clear: none;
}
.view-artist-more-pictures .views-row.three {
	margin-right: 0px;
}
.view-studios.view-display-id-page_1 {
	margin-bottom: 40px;
}
.view-header {
	border-bottom: 2px solid #818180;
	width: 100%;
	margin-bottom: 15px;
	min-height: 25px;
}
a.tab-link {
	color: #1D1D1B;
	text-transform: uppercase;
	font-size: 12px;
	background-color: #DADADA;
	padding: 6px 25px;
	margin-right: 5px;
}
a.tab-link.active, a.tab-link:hover {
	color: #fff;
	background-color: #9D9D9C;
}
.gmap-popup {
	width: 300px;
	max-width: 100%;
}
.gmap-popup .views-field-title {
	font-size: 18px;
	color: #1D1D1B;
	font-family: "Berthold", Arial, sans-serif;
	margin: 5px 0 10px 0;
}
.gmap-popup .views-field-title a {
	color: #1D1D1B;
}
.gmap-popup .views-field-image {
	float: right;
	width: auto;
	height: auto;
	margin: 0 0 15px 15px;
}
.gmap-popup .vcard {
	text-align: left;
	font-family: "Berthold", Arial, sans-serif;
}
.gmap-popup .telephone {
	margin: 5px 0;
	font-family: "Berthold", Arial, sans-serif;
}
.gmap-popup p {
	margin-bottom: 3px;
	font-size: 12px;
}
.gmap-popup .website a {
	color: #1D1D1B;
}
.view-events {
	margin-bottom: 40px;
}
.page-events-list h1#page-title {
	display: none;
}
.view-events-list .views-field-view-node {
	float: right;
	width: 80px;
	color: #fff;
	text-transform: uppercase;
	font-family: "Berthold", Arial, sans-serif;
	margin-left: 40px;
	font-size: 12px;
	margin-top: 36px;
}
.view-events-list .views-field-view-node a {
	color: #fff;
	padding: 5px 40px 5px 5px;
	display: block;
	background: #3D3D3A url('../images/caret.png') no-repeat 60px 50%;
}
.view-events-list .views-field-field-image {
	float: left;
	width: auto;
	min-height: 100%;
	margin-right: 20px;
}
.view-events-list .views-row .views-field-title {
	display: inline;
	font-family: "Berthold", Arial, sans-serif;
	font-weight: normal;
	color: #1D1D1B;
	font-size: 20px;
}
.view-events-list .views-field-title a {
	color: #1D1D1B;
}
.view-events-list .views-field-field-date {
	font-size: 20px;
	font-family: "Berthold", Arial, sans-serif;
	font-weight: normal;
	color: #919191;
	margin-left: 5px;
}
.view-events-list .views-row .views-field-body {
	margin-left: 150px;
	width: 100%;
	font-size: 12px;
	line-height: 1.5;
	margin-top: 10px;
}
.view-events-list .views-row .views-field-body p {
	font-size: 12px;
	line-height: 1.5;
}
.view-events-list .views-field-name {
	font-family: "Berthold", Arial, sans-serif;
	font-size: 12px;
	display: inline;
}
.view-events-list .views-field-field-tags {
	margin-left: 5px;
}
.view-events-list .views-field-field-tags,
.view-events-list .views-field-field-tags div,
.view-events-list .views-field-field-tags ul,
.view-events-list .views-field-field-tags ul li {
	display: inline;
}
.view-events-list .views-field-field-tags ul li {
	list-style-type: none;
	font-family: "Berthold", Arial, sans-serif;
	text-transform: uppercase;
	padding: 2px 4px;
	color: #fff;
	background-color: #7F7F7F;
	font-size: 11px;
	margin: 0 4px 0 0;
}
.attachment .view-events-list .views-field-name {
	display: block;
	margin-top: 10px;
}
.attachment .view-events-list .views-field-field-tags {
	display: block;
}
.attachment .view-events-list .views-field-view-node {
	margin-top: 10px;
}
.attachment .view-events-list .views-row .views-field-body {
	margin-left: 0;
}
/* Modifications for front page events list */
.view-events-list.view-display-id-block_1 .views-field-field-date {
	font-size: 12px;
	font-family: "Proxima Nova Semibold", Arial, sans-serif;
	font-weight: normal;
	color: #000;
	margin-left: 0px;
}
.view-events-list.view-display-id-block_1 .views-row .views-field-title {
	display: inline;
	font-family: "Proxima Nova Semibold", Arial, sans-serif;
	font-weight: normal;
	color: #000;
	font-size: 12px;
}
.view-events-list.view-display-id-block_1 .views-row .views-field-body {
	margin-left: 0px;
	width: 100%;
	font-size: 12px;
	line-height: 1.5;
	margin-top: 10px;
}
/* Single Event */
.node-type-event h1#page-title {
	display: none;
}
span.event-date {
	color: #A7A7A7;
	margin-left: 10px;
}
span.event-date div {
	display: inline;
}
.node-type-event article .body {
	margin-top: 20px;
	margin-bottom: 30px;
}
.view-event-contact-details .views-label {
	text-transform: uppercase;
	font-family: "Berthold", Arial, sans-serif;
	margin-bottom: 8px;
	font-weight: normal;
	font-size: 13px;
	display: block;
}
.view-event-contact-details .views-row {
	margin-bottom: 0;
	border-bottom: 0;
	padding-bottom: 0;
}
.view-event-contact-details .vcard {
	font-family: "Berthold", Arial, sans-serif;
}
.view-event-contact-details .vcard .adr .street-address,
.view-event-contact-details .vcard .adr .postal-code,
.view-event-contact-details .vcard .map-link {
	display: block;
}
.view-event-contact-details .views-field-field-telephone {
	font-size: 12px;
	color: #1D1D1B;
}
.view-event-contact-details .views-field-field-tags div,
.view-event-contact-details .views-field-field-tags ul,
.view-event-contact-details .views-field-field-tags ul li {
	display: inline;
}
.view-event-contact-details .views-field-field-tags ul li {
	list-style-type: none;
	font-family: "Berthold", Arial, sans-serif;
	text-transform: uppercase;
	padding: 2px 4px;
	color: #fff;
	background-color: #7F7F7F;
	font-size: 11px;
	margin: 0 4px 0 0;
}
.views-field-field-event-organiser .field-content,
.views-field-field-name .field-content {
	font-size: 12px;
}
.views-field-field-event-organiser,
.view-event-contact-details .views-field-field-tags,
.view-event-contact-details .views-field-field-location,
.view-event-contact-details .views-field-field-telephone {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #BABABA;
}

.item-list .pager {
	clear: both;
	text-align: right;
}

.item-list .pager li {
 	padding: 0em; 
 	margin: 0 0 0.25em 0.5em;
}

body > div.page > main > aside {
	padding-left:0;
}

.profile .user-picture {
	float: right;
	margin: 0;
	margin-bottom:25px;
}

/* Featured / Slider section */

section.l-featured.row {
	width: 100%;
	max-width: 100%;
	height: auto;
	max-height: 600px;
	overflow: hidden;
}
section.l-featured.row .flexslider {
	margin: 0;
	border: 0px none;
	-moz-border-radius: 0px;
	border-radius: 0px;
	box-shadow: 0px 0px 0px transparent;
}
section.l-featured.row .flexslider .slides img {
	
}
li.flexslider_views_slideshow_slide {
	position: relative;
}
li.flexslider_views_slideshow_slide .views-field-title {
	position: absolute;
	bottom: 35px;
	left: 10%;
	width: 40%;
	padding: 28px 24px;
	background-color: #4A4A4A;
	color: #fff;
	font-size: 24px;
	font-family: "Proxima Nova Semibold", Arial, sans-serif;
	font-weight: normal;
	z-index: 10;
}
.front #menubar nav {
	margin-bottom: 0px;
}
.form-item-distance-search-units {
	display: none;
}

/* Front page blocks */
.front main {
	margin-top: 15px;
}
.front article#node-1 {
	display: none;
}
.front aside.sidebar-second {
	margin-top: 0px;
}
.front .main section {
	float: left;
	clear: left;
}
.front .main section.block-views-top-news-block {
	width: 450px;
}
.view-top-news .views-row {
	border-bottom: 0px;
	padding-bottom: 0px;
}
.view-top-news .views-field-field-image {
	width: auto;
	float: left;
	margin-right: 15px;
}

.front .main section.block-views-newest-members-block {
	width: 235px;
	margin-left: 15px;
	clear: none;
}

@media only screen and (max-width: 55em) {
  /* line 362, ../../../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.3.1/scss/foundation/components/_top-bar.scss */
  .top-bar {
    *zoom: 1;
    overflow: visible;
  }
	header section#menubar {
		padding: 0px 0px;
	}
	header section#menubar {
		padding: 0px 0px;
	}
	header .large-6.columns {
		max-width: 280px;
	}
	footer.row .copyright,
	footer.row .footer {
		padding: 12px 15px;
	}
	ul#main-menu > li {
		text-align: center;
		margin: 0 auto;
	}

	ul#main-menu > li, ul#main-menu > li li {
		height: 30px;
		line-height: 30px;
	}

	.top-bar-section ul li > a {
		padding-top: 0;
		padding-bottom: 0;
		padding-right: 40px;
	}
	.front .main section.block-views-newest-members-block {
		width: 100%;
		clear: left;
		margin-left: px;
	}
	.front .main section.block-views-top-news-block {
		width: 100%;
	}
}